<html>
    <body>
        <p>
            <h2>Hello AWS MySQL!</h2>
           
<br>
<b>The Count of gumballs is: </b> <%= countgumballs %><br>
<b>The Gumball Machine Model is: </b> <%= modelnumber %><br>
<b>The Gumball Machine Serial # is: </b> <%= serialnumber %><br>
        </p>
    </body>
    
</html>